<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PerpSpot</title>
    <!-- Link To CSS File -->
    <link rel="stylesheet" href="../static/css/home.css" />
  </head>
  <body>
    <main>
      <div class="big-wrapper light">
        <img src="../static/imgs/shape.png" alt="" class="shape" />

        <header>
          <div class="container">
            <!-- Adding my logo -->
            <div class="logo">
              <img src="../static/imgs/PerpSpot Logo.png" alt="PerpSpot Logo" />
              <h3>PerpSpot</h3>
            </div>
            <!-- Navbar Link -->
            <div class="links">
              <ul>
                <li><a href="/login" class="btn">Login</a></li>
              </ul>
            </div>

            <div class="overlay"></div>

            <div class="hamburger-menu">
              <div class="bar"></div>
            </div>
          </div>
        </header>

        <div class="showcase-area">
          <div class="container">
            <div class="left">
              <div class="big-title">
                <h1>Welcome to PerpSpot.</h1>
              </div>
              <p class="text">
                Empowering law enforcement to protect and serve 
                with real-time criminal identification.
              </p>
              <div class="cta">
                <a href="/submit-tip" class="btn">Submit A Tip</a>
              </div>
            </div>

            <div class="right">
              <img src="../static/imgs/Police car-bro.svg" alt="Person Image" class="person" />
            </div>
          </div>
        </div>

        <div class="bottom-area">
          <div class="container">
            <button class="toggle-btn">
              <i class="far fa-moon"></i>
              <i class="far fa-sun"></i>
            </button>
          </div>
        </div>
      </div>
    </main>

    <!-- JavaScript Files -->

    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <script src="../static/js/home.js"></script>
  </body>
</html>
