<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	<link rel="stylesheet" href="../static/css/register.css">

	<title>Register Criminal</title>
</head>
<body>


	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand">
			<img src="../static/imgs/PerpSpot Logo.png" alt="">
			<span class="text">PerpSpot</span>
		</a>
		<ul class="side-menu top">
			<li class="active">
				<a href="/register-criminal">
					<i class='bx bx-edit'></i>
					<span class="text">Register Criminal</span>
				</a>
			</li>
			<li>
				<a href="/photo-matching">
					<i class='bx bx-images'></i>
					<span class="text">Photo Matching</span>
				</a>
			</li>
			<li>
				<a href="/video-surveillance">
					<i class='bx bx-camera-movie' ></i>
					<span class="text">Video Surveillance</span>
				</a>
			</li>
			<li>
				<a href="/view-tips">
					<i class='bx bx-edit' ></i>
					<span class="text">Submitted Tips</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a href="/logout" class="logout">
					<i class='bx bx-log-out'></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->



	<!-- CONTENT -->
	<section id="content">

		<!-- MAIN -->
		<main>
			{% with messages = get_flashed_messages() %}
			{% if messages %}
			  <div class="flash-messages">
				{% for message in messages %}
				  <div class="flash-message">
					<p>{{ message }}</p>
				  </div>
				{% endfor %}
			  </div>
			{% endif %}
			{% endwith %}
			<div class="head-title">
				<div class="left">
					<h1>Register Criminal</h1>
				</div>
			</div>

			<div class="container">
				<form action="/register-criminal" method="POST" class="form">
				<h3>Personal Info</h3>
				<div class="column">
					<div class="input-box">
					<label>Full Name</label>
					<input type="text" name="full_name" placeholder="Enter full name" required />
					</div>
					<div class="input-box">
					<label>Birth of Date</label>
					<input type="date" name="birth_date" placeholder="Enter birth date" required />
					</div>
				</div>

				<div class="column">
		
					<div class="input-box">
					<label>Nationality</label>
					<input type="text" name="nationality" placeholder="Enter nationality" required />
					</div>
					<div class="input-box">
					<label>Gender</label>
					<div class="select-box">
						<select id="gender" name="gender">
						<option hidden>Gender</option>
						<option>Male</option>
						<option>Female</option>
						</select>
					</div>
					</div>
				</div>

				<div class="column">
					<div class="input-box">
					<label>Phone Number</label>
					<input type="text" name="phone_number" placeholder="Enter phone number" required />
					</div>
					<div class="input-box">
					<label>Height (in cm)</label>
					<input type="number" name="height" placeholder="Enter height" required />
					</div>
					<div class="input-box">
					<label>Weight (in kg)</label>
					<input type="number" name="weight" placeholder="Enter weight" required />
					</div>
				</div>
				<br><br>


				<div class="input-box address">
					<h3>Record</h3>
					<!-- <input type="text" placeholder="Enter street address" required />
					<input type="text" placeholder="Enter street address line 2" required /> -->
					<div class="column">
					<div class="input-box">
						<label>Crime Category</label>
						<div class="select-box">
						<select id="crime_category" name="crimeCategory">
							<option hidden>Crime Category</option>
							<option value="Property">Property Crime</option>
							<option value="Violent">Violent Crime</option>
							<option value="Drugs">Drug Crime</option>
							<option value="White_Collar">White-Collar Crime</option>
							<option value="Cyber">Cyber Crime</option>
							<option value="Sexual">Sexual Crime</option>
							<option value="Traffic_Violation">Traffic Violation</option>
						</select>
						</div>
					</div>
					<div class="input-box">
						<label>Crime Type</label>
						<div class="select-box">
						<select id="crime_type" name="crimeType">
						</select>
						</div>
					</div>
					</div>
					<div class="column">
					<div class="input-box">
						<label>Date of Offense</label>
						<input type="date" name="date_of_offense" required />
					</div>
					<div class="input-box">
						<label>Location of Committed Offense</label>
						<input type="text" name="location_of_offense" placeholder="Location" required />
					</div>
					</div>
				</div>
				<br><br>
				<input type="submit" name="register" value="Register" class="button">
				</form>
  
			</div>
		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->

  <script>
    // Define the crime types for each category
    const crimeTypes = {
      Property: ["Theft", "Vandalism", "Burglary", "Arson", "Illegal Mining"],
      Violent: ["Murder", "Assault", "Battery", "Domestic Violence", "Human Trafficking"],
      Drugs: ["Drug Possession", "Drug Trafficking", "Drug Manufacturing"],
      White_Collar: ["Fraud", "Embezzlement", "Insider Trading"],
      Cyber: ["Hacking", "Identity Theft", "Online Scams"],
      Sexual: ["Rape", "Sexual Assault", "Child Pornography"],
      Traffic_Violation: ["Speeding", "Reckless Driving", "Driving under drug/alcohol influence"]
  
    };

    // Get the "Crime Category" and "Crime Type" select elements
    const crimeCategorySelect = document.getElementById("crime_category");
    const crimeTypeSelect = document.getElementById("crime_type");

    // Populate the "Crime Type" select element based on the selected "Crime Category"
    crimeCategorySelect.addEventListener("change", function() {
      // Clear the previous options
      crimeTypeSelect.innerHTML = "";
      
      // Get the selected crime category
      const selectedCategory = crimeCategorySelect.value;
      
      // Populate the crime types for the selected category
      crimeTypes[selectedCategory].forEach(function(crimeType) {
        const option = document.createElement("option");
        option.value = crimeType;
        option.text = crimeType;
        crimeTypeSelect.add(option);
      });
    });


  </script>
</body>
</html>