<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	<link rel="stylesheet" href="../static/css/view-info.css">

	<title>View Criminal Info</title>
</head>
<body>


	<section id="sidebar">
		<a href="#" class="brand">
			<img src="../static/imgs/PerpSpot Logo.png" alt="">
			<span class="text">PerpSpot</span>
		</a>
		<ul class="side-menu top">
			<li>
				<a href="/dashboard">
					<i class='bx bx-home-alt' ></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			<li class="active">
				<a href="/register-criminal">
					<i class='bx bx-edit'></i>
					<span class="text">Register Criminal</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class='bx bx-images'></i>
					<span class="text">Photo Matching</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class='bx bx-camera-movie' ></i>
					<span class="text">Video Surveillance</span>
				</a>
			</li>
			<li>
				<a href="/view-tips">
					<i class='bx bx-edit' ></i>
					<span class="text">Submitted Tips</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a href="/" class="logout">
					<i class='bx bx-log-out'></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>
	<section id="content">
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Criminal Info</h1>
				</div>
			</div>

            <div class="container">
                <div class="info-box">
                    <div class="pic-box">
                        <img src="../static/imgs/profile-pic.png" alt="profile picture">
                        <p>Walter Pinkman</p>
                        <p class="contact">(0542098934)</p>
                    </div>
                    <br>
                    <div class="wrapper">
                        <div class="rubrics">
                            <p>Date of birth: </p>
                            <p>Nationality: </p>
                            <p>Height: </p>
                            <p>Offense: </p>
                            <p>Date of arrest: </p>
                        </div>
                        <div class="values">
                            <p>3rd March 1990 </p>
                            <p>Ghanaian</p>
                            <p>1.6m</p>
                            <p>Theft</p>
                            <p>5th October, 2022</p>
                        </div>
                    </div>
                </div>
				<a href="#" class="btn-download">
					<i class='bx bxs-cloud-download' ></i>
					<span class="text">Download PDF</span>
				</a>
            </div>
        


		</main>
	</section>
</body>
</html>