<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	<link rel="stylesheet" href="../static/css/view-tips.css">

	<title>PerpSopt - View Tips</title>
</head>
<body>


	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand">
			<img src="../static/imgs/PerpSpot Logo.png" alt="">
			<span class="text">PerpSpot</span>
		</a>
		<ul class="side-menu top">
			<li>
				<a href="/register-criminal">
					<i class='bx bx-edit'></i>
					<span class="text">Register Criminal</span>
				</a>
			</li>
			<li>
				<a href="/photo-matching">
					<i class='bx bx-images'></i>
					<span class="text">Photo Matching</span>
				</a>
			</li>
			<li>
				<a href="/video-surveillance">
					<i class='bx bx-camera-movie' ></i>
					<span class="text">Video Surveillance</span>
				</a>
			</li>
			<li class="active">
				<a href="/view-tips">
					<i class='bx bx-edit' ></i>
					<span class="text">Submitted Tips</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a href="/logout" class="logout">
					<i class='bx bx-log-out'></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->



	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<form action="#">
				<div class="form-input">
					<input type="search" placeholder="Search by Category...">
					<button type="submit" class="search-btn"><i class='bx bx-search' ></i></button>
				</div>
			</form>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Submitted Tips</h1>
				</div>
			</div>

			<div class="table-data">
				<div class="order">
					<!-- <div class="head">
						<h3>Recently Captured</h3>
					</div> -->
					<table>
						<thead>
							<tr>
								<th>Full Name</th>
								<th>E-mail Address</th>
								<th>Phone Number (+233)</th>
								<th>Category</th>
                                <th>Message</th>
                                <th>TimeStamp</th>
							</tr>
						</thead>
						<tbody>
							<tr>
                                {% for row in tips %}
                                <tr>
                                    <td>{{ row[1] }}</td>
                                    <td>{{ row[2] }}</td>
                                    <td>{{ row[3] }}</td>
                                    <td>{{ row[4] }}</td>
                                    <td>{{ row[5] }}</td>
                                    <td>{{ row[6] }}</td>
                                </tr>
                                {% endfor %}
							</tr>
							<tr>
								<td>Kofi Ntim</td>
								<td>kofintim@gmail.com</td>
								<td>558746824</td>
								<td>Assault</td>
                                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Quas velit dignissimos sapiente deserunt, 
                                    quaerat incidunt dolores ratione perferendis provident obcaecati,
                                    sit sequi nisi illo asperiores odit, laboriosam omnis temporibus totam.</td>
                                <td>2023-03-17 23:23:35</td>
                            </tr>
						</tbody>
					</table>
				</div>
			</div>
		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->

</body>
</html>